/* Reset */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

/* Contenedor principal */
body {
  background-color: #f4f4f4;
  color: #333;
  padding: 20px;
}

/* Título */
h1 {
  text-align: center;
  margin-bottom: 20px;
  color: #2c3e50;
}

/* Formulario */
form {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 30px;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
}

form h2 {
  margin-bottom: 10px;
  text-align: center;
  color: #2980b9;
}

label {
  display: block;
  margin-top: 10px;
  font-weight: bold;
}

input,
textarea,
select {
  width: 100%;
  padding: 8px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

textarea {
  resize: vertical;
}

button {
  margin-top: 15px;
  padding: 10px 15px;
  background-color: #3498db;
  color: #fff;
  border: none;
  border-radius: 7px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #2980b9;
}

/* Lista de libros */
#listaLibros {
  list-style: none;
  max-width: 600px;
  margin: auto;
  padding: 0;
}

#listaLibros li {
  background-color: #ffffff;
  padding: 15px;
  margin-bottom: 15px;
  border-radius: 10px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

#listaLibros strong {
  color: #2c3e50;
}

#listaLibros button {
  margin-right: 10px;
  background-color: #e74c3c;
}

#listaLibros button:nth-child(3) {
  background-color: #f39c12;
}

#listaLibros button:hover {
  opacity: 0.9;
}

/* Buscador */
#busquedaAutor {
  display: block;
  margin: 0 auto 15px auto;
  padding: 8px;
  max-width: 400px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

#modo {
  text-align: center;
  margin: 20px 0;
  font-size: 18px;
  color: #16a085;
  font-weight: bold;
}

